.parraf1 {
    background-color: rgb(13, 204, 188);
    font-size: 1.5em;
    margin-right: 55%;
}

.parraf2 {
background-color: rgb(255, 0, 0);
font-size: 1.5em;
margin-right: 50%;
}

.parraf3 {
    background-color: rgb(17, 226, 35);
    font-size: 1.5em;
    margin-right: 40%;
}

.parraf4 {
    background-color: rgb(255, 230, 0);
    font-size: 1.5em;
    margin-right: 35%;
}