body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: Arial, sans-serif;
    color: white;
}

.loading {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00ccff;
    animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}