body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    perspective: 1000px; /* Añadir perspectiva para el efecto 3D */
}

.contenedor {
    width: 300px; /* Ancho del contenedor */
    height: 300px; /* Alto del contenedor */
    position: relative;
    transform-style: preserve-3d; /* Mantener el estilo 3D */
    transition: transform 0.5s; /* Transición suave */
}

.imatge {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ocultar la parte trasera */
}

.imatge img {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Bordes redondeados */
}

.contenedor:hover {
    transform: rotateY(20deg) rotateX(10deg); /* Rotar en 3D al hacer hover */
}