body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.tabla {
    overflow-x: auto; /* Permite el scroll horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora la experiencia en iOS */
}
taula {
    width: 100%; /* Hace que la tabla ocupe el ancho completo */
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}